// Main Elements
//////////////////////////////////////////////////////

// @media all {}

html {
  -webkit-text-size-adjust: none;
  height: 100%;
}

body {
  height: 100%;
  color: $color_text;
  background: $color_white;
  padding: 0;
  quotes: "\00ab" "\00bb";

  overflow-x: hidden; // not scrolling horizontal body

  backface-visibility: hidden;
}

// Ccылки
a {
  color: $color_link;
  text-decoration: none;

  &:hover {
    color: $color_link-hover;
  }
}

// Кнопки
button,
a { // stylelint-disable-line no-descending-specificity
  outline: none !important; // stylelint-disable-line declaration-no-important

  &:hover,
  &:active,
  &:focus {
    outline: none !important; // stylelint-disable-line declaration-no-important
  }
}

iframe {
  border-width: 0;
}
