// Vuetify

.v-input[class*="message"] {
  .v-input__slot {
    display: none;
  }
}

.theme--dark {
  &.application {
    background: $color_background_dark-theme;
  }

  &.v-card,
  &.v-list {
    background: $color_background_dark-theme;
    border-color: $color_background_dark-theme;
  }

  &.v-navigation-drawer {
    background: $color_background_dark-theme;
  }
}
