// Vuetify

button.v-btn {
  width: 100%;
  margin: $size 0 0 0;
}

.theme--dark {
  &.application {
    background: $color_background_dark-theme;
  }

  &.v-card,
  &.v-list {
    background: $color_background_dark-theme;
    border-color: $color_background_dark-theme;
  }
}

.v-input[class*="message"] {
  .v-input__slot {
    display: none;
  }
}