// Project mixins
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////

// Media
//////////////////////////////////////////////////////
// Брекпоинты - смотреть в _variables.scss

@mixin lg {
  @media (min-width: $breackpoint_lg) {
    @content;
  }
}

@mixin not-lg {
  @media (max-width: $breackpoint_md_max) {
    @content;
  }
}

@mixin sm {
  @media (min-width: $breackpoint_sm) and (max-width: $breackpoint_sm_max) {
    @content;
  }
}

@mixin xs {
  @media (max-width: $breackpoint_xs_max) {
    @content;
  }
}

@mixin not-xs {
  @media (min-width: $breackpoint_sm) {
    @content;
  }
}

@mixin sm-and-xs {
  @media (max-width: $breackpoint_sm_max) {
    @content;
  }
}

@mixin min {
  @media (max-width: $breackpoint-xs) {
    @content;
  }
}


// Retina
@mixin retina {
  @media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
    only screen and (-moz-min-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (min-device-pixel-ratio: 1.5) {
    @content;
  }
}

// Size )
@mixin size($width, $height) {
  width: $width;
  height: $height;
}


// Elements
//////////////////////////////////////////////////////

// Примеси для покраски кнопок

@mixin btn-color($color, $background) {
  background-color: $background;
  color: $color;
  @include transition(background);

  &:hover,
  &:active {
    background-color: darken($background, $fade );
    color: $color;
  }

  @include sm-and-xs {
    &,
    &:hover,
    &:focus {
      background-color: $background;
      color: $color;
    }

    &:active {
      background-color: darken($background, $fade);
      color: $color;
    }
  }
}

@mixin btn-transparent-color($color) {
  border: 1px solid $color;
  background-color: transparent;
  color: $color;
  border-color: $color;
  @include transition(all);

  &:hover,
  &:active {
    color: darken($color, $fade);
    border-color: darken($color, $fade);
  }

  @include sm-and-xs {
    &,
    &:hover,
    &:focus {
      color: $color;
      border-color: $color;
    }

    &:active {
      color: darken($color, $fade);
      border-color: darken($color, $fade);
    }
  }
}

// Примесь для покраски ссылок
@mixin link-style($color, $color-hover) {
  @include transition(color);

  &,
  &:focus {
    color: $color;
  }

  &:hover,
  &:active {
    color: $color-hover;
  }

  @include sm-and-xs {
    &,
    &:hover,
    &:focus {
      color: $color;
    }

    &:active {
      color: $color-hover;
    }
  }
}


// Effects
//////////////////////////////////////////////////////

// Multi-transition
// Pass in any number of transitions
@mixin transition($transitions...) {
  $unfoldedTransitions: ();

  @each $transition in $transitions {
    $unfoldedTransitions: append($unfoldedTransitions, unfoldTransition($transition), comma);
  }

  transition: $unfoldedTransitions;
}

@function unfoldTransition($transition) {
  // Default values
  $property: all;
  $duration: $transition_duration;
  $easing: $transition_timing-function;
  $delay: $transition_delay;
  $defaultProperties: ($property, $duration, $easing, $delay);

  // Grab transition properties if they exist
  $unfoldedTransition: ();

  @for $i from 1 through length($defaultProperties) {
    $p: null;

    @if $i <= length($transition) {
      $p: nth($transition, $i);
    } @else {
      $p: nth($defaultProperties, $i);
    }
    $unfoldedTransition: append($unfoldedTransition, $p);
  }

  @return $unfoldedTransition;
}
