.app {
  text-align: center;

  &__header {
    font-size: 28px;
    color: $color_white;

    @include xs {
      font-size: 24px;
    }
  }
}

.container {
  padding-top: 60px;
  padding-bottom: 60px;

  @media only screen {
    max-width: 300px;
  }
}

.wrapper {
  position: relative;
  height: 28px;

  &__message {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 8px;
    text-align: center;
  }
}
