.container {
  .entry &,
  .password & {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;

    @media only screen {
      max-width: 300px;
    }

    .v-btn {
      width: 100%;
      margin: $size 0 0 0;
    }
  }
}

.wrapper {
  position: relative;
  height: 28px;

  &__message {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 8px;
    text-align: center;
  }
}
