.app {
  text-align: center;

  &__header {
    font-size: 28px;
    color: $color_white;

    @include xs {
      font-size: 24px;
    }
  }
}

.container {
  padding-top: 60px;
  padding-bottom: 60px;

  @media only screen {
    max-width: 300px;
  }
}

button.v-btn {
  width: 100%;
  margin: $size 0 0 0;
}

.theme--dark {
  &.application {
    background: $color_background_dark-theme;
  }

  &.v-card,
  &.v-list {
    background: $color_background_dark-theme;
    border-color: $color_background_dark-theme;
  }
}
